.block-children {
  border-left: 0px solid !important;
}

.block-children-left-border {
  background-color: transparent !important;
  border-left: 1px solid var(--ls-guideline-color);
}

.block-children-left-border:hover {
  background-color: transparent !important;
  border-left: 3px solid var(--ls-guideline-color);
  margin-right: 0px;
}

:not(pre)>code {
  font-family: "SF Mono";
}

#main-content-container {
  padding-top: 0px !important;
}
